@using IA.Extensions
<ul class="nav navbar-nav navbar-right" style="margin-right:0px;margin-left:0px;margin-top:2px;">
    @{
        if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
        {
            IA.Models.DatabaseStore db = new IA.Models.DatabaseStore();
            HttpCookie authCookie = HttpContext.Current.Request.Cookies[FormsAuthentication.FormsCookieName];
            FormsAuthenticationTicket authticket = FormsAuthentication.Decrypt(authCookie.Value);
            <li><a href="@Url.Action("Index","Account")" style="padding:9px;text-align:center"><img src="@Url.Content(db.Users.GetUserAvatarUri(authticket.Name))" width="30" height="30" class="img-circle" /></a></li>
        }
        else
        {
            <li><a href="@Url.Action("Index","Account")" style="padding:9px;text-align:center" data-toggle="modal" data-target="#login-modal"><img src="@Url.Content("/Content/Images/placeholder-user.png")" width="30" height="30" class="img-circle" /></a></li>
        }
    }
   
   
</ul>