<ul class="nav navbar-nav navbar-right" style="margin-right:0px;margin-left:0px;margin-top:2px;">
    <li><a href="@Url.Action("Index","Account")" style="padding:9px;text-align:center" data-toggle="modal" data-target="#login-modal"><img src="~/Content/Images/Deepcoil.jpg" width="30" height="30" class="img-circle" /></a></li>
</ul>