<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aodpi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aodpi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>aodpi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$aodpi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IAConn" Order="1" Enabled="True">
          <Destination Path="Data Source=iadbserv.database.windows.net;Initial Catalog=utm;User ID=aodpi;Password=PseudoInterface_1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IA.Models.DatabaseStore, IA" MigrationConfiguration="IA.Migrations.Configuration, IA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IA.IALogic.iadbEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=iadbserv.database.windows.net;Initial Catalog=utm;User ID=aodpi;Password=AlphaOmega_1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IA.IALogic.iadbEntities, IA" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IA.IALogic.iadbEntities-Web.config Connection String">
      <ParameterValue>Data Source=iadbserv.database.windows.net;Initial Catalog=utm;User ID=aodpi;Password=AlphaOmega_1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IAConn-Web.config Connection String">
      <ParameterValue>Data Source=iadbserv.database.windows.net;Initial Catalog=utm;User ID=aodpi;Password=PseudoInterface_1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IA.IALogic.iadbEntities" />
  </ItemGroup>
</Project>